$breadcrumb-divider: quote(">");
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../assets/font/Fontello/css/fontello.css";
@import "../assets/font/Fontello/css/animation.css";

$mainFontColor: white;
$alterFontColor: black;
$additFontColor: #0088cc;
$backGrey: #e9ecef;

header {
  background: url("/images/sunlight-forest-nature.jpg");
  background-size: cover;
  height: 300px;
  @media (min-width: map-get($grid-breakpoints, "md")) {
    height: 350px;
  }
  background-attachment: fixed;
  background-position-x: -384px;


  .top-line {
    background: rgba(darkgrey, 0.6);
    color: $mainFontColor;
    display: block;

    .mobile-number {
      color: $mainFontColor;

      a {
        color: $mainFontColor;
        letter-spacing: 1.1px;
        font-style: normal;
        font-weight: 500;
      }

      &:hover {
        transition: all 0.3s ease-in-out;
        transform: scale(1.05);

        a {
          text-decoration: none;
        }
      }
    }
  }
}

.nav1 {
  #navbar9 {
    ul {
      li {
        padding: 3px;
        a {
          //color: $mainColorFont;
        }
      }
      li:hover {
        background-color: $mainFontColor;
        a {
          color: $alterFontColor;
        }
      }
    }
  }
  .navbar-brand {
    padding: 5px;
    img {
      height: 40px;
      width: auto;
    }
  }
  .navbar-brand:hover {
    background-color: $additFontColor;
  }
}

.nav2 {
  background-color: $backGrey;
}

.catalog {
  .list-group {
    details {
        li::before {
          content: "» ";
        }

    }
    .alert {
      font-size: 1.1rem;
    }
    font-size: 0.8rem;
  }

}
